<div class="row">
  <div class="col-md-8 col-sm-offset-2">                  
    <img src="../public/assets/img/burger_image.jpg" class="img-responsive" alt="Bob's Burgers">
  </div>
</div> 
    
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <hr>
    <div id="burger-area">
      <ul style="list-style-type:none">
          {{#each burgers}}
            {{#unless this.devoured}}
              <li>
                {{this.burger_name}}
              </li>  
            {{/unless}}
          {{/each}}
      </ul>      
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <hr>
    <div id="burger-devoured-area">
      <ul style="list-style-type:none">
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{this.burger_name}}
            </li>  
          {{/if}}
        {{/each}}
      </ul>      
    </div>
  </div>   
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Add a Burger</h2>
     
    <form class="create-form" action="burgers/create" method="post">
      <div class="form-group">
        <input type="text" id="burger" name="burger_name">
      </div>
      
      <br>
      
      <button type="submit" id="burger-submit" class="btn btn-md pull-right">Submit</button>

    </form>
  </div>
</div>

